/*
Caroline Lee
10-13-2017
css for project
*/


/*template from: https://www.w3schools.com/bootstrap/bootstrap_templates.asp*/

body {
    background-color: #ececec;
}

footer {
    height: 50px;
    text-align: center;
}

.register {
    text-align: center;
}

.form {
    margin: 0 5% 0 5%;
    background-color: #cecece;
    padding: 5%;
    text-align: left;
}

.page-wrapper {
    min-height: calc(100vh - 50px);
}

.link {
    /*link to account settings*/
    text-decoration: underline;
    font-size: 10px;
    margin: 1%;
}


#email-sent
{
    position: fixed;
    padding: 0% 1% 0% 1%;
    z-index: 100;
    top: 10%;
    left: 35%;
    height: 10%;
    width: 30%;
    border-style: solid;
    border-color: #008899;
    border-width: 2px;
    background: white;
    display: none;
}

#delete-group-confirm {
    position: fixed;
    padding: 0% 1% 0% 1%;
    z-index: 100;
    top: 10%;
    left: 35%;
    height: 15%;
    width: 25%;
    border-style: solid;
    border-color: #008899;
    border-width: 2px;
    background: white;
    display: none;
}



.login {
    text-align: center;
}

.forgot-password {
    font-size: 10px;
    text-align: right;
    margin-bottom: 1%;
}

.submit {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.login-submit-btn {
    text-align: center;
}

.login-portal {
    margin: 0 10% 0 10%;
}

.jumbotron {
    margin-top: 5%;
    padding: 3%;
}

.register-module {
    padding: 5% 3% 3% 5%;
}

.register {
    text-align: center;
}

.register-title {
    text-align: center;
}

.have-account {
    font-size: 10px;
}





.settings {
    /*all settings*/
    text-align: left;
}

.user-info {
    padding-top: 5%;
    margin-bottom: 5%;
}

.username {
    margin-bottom: 0;
}

.password {
    margin-top: 5%;
    margin-bottom: 0;
}

.email {
    margin-top: 5%;
    margin-bottom: 0;
}


.scheduled-meetings {
    padding: 0;
}


.account-elements {
    /*everything else*/
    padding-top: 4%;
    padding-left: 7%;
    padding-right: 0;
    padding-bottom: 4%;
}

.dashboard {
    /*container for all dashboard*/
    text-align: center;
}

.account {
    /*account stuff*/
    padding-right: 10%;
}

.schedule {
    /*schedule stuff*/
    text-align: center;
}

.new-meeting-link {
    text-align: center;
    font-size: 10px;
    text-decoration: underline;
}

.calendar-container {
    padding-left: 10%;
}

.googleCalendar {
    text-align: center;
}

.your-groups {
    display: inline-block;
    margin-left: 6%;
}





.second-row {
    margin: 3%;
}

.group {
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    background-color: darkgray;
}

.group-name {
    /*also for meeting info*/
    text-align: center;
    font-weight: bold;
}

.group-image {
    text-align: center;
}

.members-module {
    background-color: lightgray;
    margin-right: 2%;
    margin-left: 2%;
    padding-bottom: 2%;
}

.members {
    text-align: center;

    font-weight: bold;
}

.member-names {
    padding: 0;
    margin-left: 8px;
}

.delete-member-link {
    color: red;
    padding: 2%;
    text-decoration: underline;
    font-size: 9px;
    margin-right: 2px;
}

.add-member-link {
    color: green;
    text-decoration: underline;
    font-size: 9px;
    float: right;
}

.meetings-module {
    background-color: lightgray;
    margin-right: 2%;
    margin-left: 2%;
    padding-bottom: 2%;
}

.meetings {
    text-align: center;
    font-weight: bold;
}
.time {
    margin-bottom: 4px;
}

.warningtext {
    color: red;
    font-size: 10px;
    display: none;
}

#edit_meeting {
    text-decoration: underline;
    font-size: 10px;
}

.meeting-links {
    text-align: center;
    padding: 0;
}

.save-btn-div {
    margin-top: 2%;
    text-align: right;
}

.delete-group-btn {
    text-align: center;
    margin-top: 2%;
}

.mem-name-box {
    width: 80%;
    text-align: left;
}


.list-group-item-action{
    cursor: pointer;
}
.edit-groups {
    float: right;
    text-decoration: underline;
}

.save-group-btn {
    margin-left: 0;
    margin-right: 12px;
    float: right;
}

#group-members {
    overflow-y: scroll;
    height: 250px;
    max-height: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.second-row-col-1 {
    margin-right: 3%;
}

.dropdown {
    margin-bottom: 4%;
}

.group-box-meeting {
    padding: 0%;
}

.save-new-group {
    text-align: right;
}

.second-row-col-1-meeting {
    padding: 0;
}

.second-row-col-2 {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

.third-row-col-1 {

    text-align: center;
}

.title h1 {
    margin-bottom: 0;
}


.group-container {
    margin: 0;
}

.group-module {
    margin: 0;
}

.group-box {
    padding: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.notes {
    text-align: center;
    text-decoration: underline;
}

.meeting-time {
    text-align: center;
    font-weight: bold;
}

#day-time {
    padding-top: 60px;
}

.location {
    text-align: center;
    font-weight: bold;
}

#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}

.map-space {

    display: inline-block;
}

#confirmSaved {
    display: none;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.btn-primary {
    margin-top: 4%;
}

